<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%
# commenting out this code which was part of an exercise
=begin
<p>
	<strong>Sample micropost:</strong>
	<%= @user.microposts.first.content %>
</p>
=end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
